/*My main css file. I write this code*/

/*problem: navbar covering the content.
solution: lower the content below the navbar*/
.header-container {
  padding-top: 70px;
}

/* text center the links & project titles*/
.project-link, h3, h2 {
  text-align: center;
}
