/*My main css file. I write this code*/

body {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
}


/*problem: navbar covering the content.
solution: lower the content below the navbar*/
.header-container {
  margin-top: 70px;
}

/* text center: the links & project titles*/
.project-link, h3, h2 {
  text-align: center;
}

/*update Unicode Logo: AS. initials*/
.logo-unicode {
  margin-left: 5px;
  font: italic 3em uppercase;
}
.my-logo {
  font-size: 22px;
  text-align: left;
  vertical-align: middle;
}

/*Font-size of Name*/
.my-name {
  font-size: 40px;
}

/*Make My-name & Featured works thinner in font*/
.text-thin {
  font-weight: 100;
}
/* decrease font weightness on h3 */
.text-light {
  font-weight: 250;
}
/*add color,border,margins to the borders after header and before footer*/
hr {
  border: 0;
  border-top: 1px solid #7d97ad;
  margin-top: 15px;
  margin-bottom: 15px;
}
